# Build results
bin/
obj/
[Bb]uild/
[Ll]og/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Visual Studio cache/options
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/
*.iml

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# MonoGame / Content Pipeline
Content/bin/
Content/obj/
*.mgcb.tmp
*.xnb

# Other
*.exe
*.dll
*.pdb
*.cache
*.db
*.opendb
*.bak
*.tmp

# OS-specific
.DS_Store
Thumbs.db
desktop.ini
